<div class="wallet-container address-info-container" @slideUp>
  <div class="col-md-12 col-xs-12 col-sm-12 ether-block padding-left-0">
    <h3 class="main">Wallet Info</h3>
    <div class="etherium-body">
      <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-0 col-xs-offset-0 text-center padding-left-0">
        <div class="text-center" pTooltip="{{'qrCode' | translate}}" tooltipPosition="top">
          <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "address">
          </ngx-qrcode>
        </div>

        <h4>{{'address' | translate}}</h4>
        <div class="text-center break-word margin-top-10" pTooltip="{{'address' | translate}}" tooltipPosition="top">
          {{address}}
        </div>

    <!--     <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-20 text-center">
          <div class="balanceDetails col-md-6 col-sm-6 col-xs-12 margin-top-30">
            <h3>{{'ethBalance' | translate}}</h3>
            <div pTooltip="{{'ethBalance' | translate}}" tooltipPosition="top">{{etherBalance}}</div>
          </div>

          <div class="balanceDetails col-md-6 col-sm-6 col-xs-12 padding-left-0 margin-top-30">
            <h3>{{'tokenBalance' | translate}}</h3>
            <div pTooltip="{{'tokenBalance' | translate}}" tooltipPosition="top">{{tokenBalance}}</div>
          </div>
        </div> -->

        <div class="margin-top-15 margin-bottom-20 text-center">
          <button type="button" class="btn btn-primary" (click)="backupWallet()" pTooltip="{{'backUpWallet' | translate}}" tooltipPosition="top">{{'backUpWallet' | translate}}</button>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

      <div class="col-md-12 margin-top-10 text-center">
        <small class="lightClr">{{'regiserWarning' | translate}}</small>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>

<admin-footer></admin-footer>
