<div class="token-balance-container" @slideUp>
  <div class="token-balance">
    <h3>Referral Program</h3>
    <div class="balance-counter-body text-center margin-top-50">

      <h4>Share this link with interested investors.</h4>
      <h4>If they will register with your referral code, you will receive 5% of their purchases as referral bonus.</h4>
      <span class="label">{{referralLink}}</span>
      <span class="label"></span>
    </div>
    <div class="margin-bottom-35"></div>
  </div>
</div>

<admin-footer></admin-footer>
