// Other css imports
@import "sidebar";
@import "common";
@import "responsive";
@import "mobile";


.body-container{
  padding: 0px 0px 0px 5px;
  margin-left: 210px;
}
.sidePanelHide{
  padding: 0px;
  margin-left:20px;
}
.whiteClr{
  color: $white;
}
.lightClr{
  color:#00dcff !important
}
img{
  max-width: 100%;
}


/*************************************************************************/
//                         Login page css                                //
/*************************************************************************/
.login-footer{
  position: relative;
  left: 0px;
  bottom: 0;
  color: #fff !important;
  padding: 6px 0px;
  margin-top: 70px;
  color: #fff !important;
  .col-md-12{
    padding: 0px;
  }
  .footer-hyper-link{
    a{
      margin-right: 4px;
      margin-left: 5px;
      text-decoration: underline;
      color: $white;
    }
  }
  a{
    text-decoration: underline;
    color: $white;
    cursor: pointer;
  }
}

.login-block{
  width: 100%;
  margin-bottom: 30px;
  position: absolute;
  left: 0;
  //left: calc(50% - 225px);
  top: calc(50% - 245px);
  .footer-hyper-link{
    text-align: center;
  }
}
.login-main-block{
  width: 450px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 100px;
}
.register-block{
  width: 100%;
  position: absolute;
  left: 0;
  top: calc(50% - 306px);
  margin-bottom: 30px;

  .footer-hyper-link{
    text-align: center;
  }
  .register-main-block{
    width: 600px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 50px;
  }
}

.landing-block{
  width: 100%;
  margin-bottom: 30px;
  position: absolute;
  left: 0;
}
.main-block{
  width: 500px;
  margin: 0 auto;
  position: relative;
  //left: calc(50% - 250px);
  top: calc(50% - 262px);
  .timer-date{
    color: $white;
    font-size: 21px;
    div{
      display: inline-block;
      color: #00d8ff;
      font-size: 23px;
      background-color: rgba(240, 248, 255, 0.11);
      padding: 7px 13px 8px 13px;
      border-radius: 5px;
    }
  }
}
.resendOtp{
  position: relative;
  top:-10px;
}
login,register{
  background-color: $themeClr;
  position: absolute;
  width: 100%;
  min-height: 100%;
  max-height: 135%;
  padding-bottom: 19px;
}

.login-container{
  .login-header{
    padding-top: 15px;
    text-align: center;
    select.form-control{
      background-color: $themeClr;
      border-color: $themeClr;
      color: #fff;
      width: 154px;
      border-bottom-color: $white;
      padding: 0px;
    }
  }

  .main-logo{
    position: relative;
    border-radius: 0px;
    width: 450px;
    margin: 0 auto;
    margin-top: 30px;
    background-color:rgba(53, 60, 72, 0.74);
    text-align: center;
    border-bottom: 2px solid $borderColor;
    padding: 5px 0px;
    img{
      width:158px;
      padding: 14px 10px 13px 10px;
    }
  }
  .login-form{
    position: relative;
    border-radius: 0px;
    width: 450px;
    margin: 0 auto;
    background-color:rgba(53, 60, 72, 0.74);
    padding: 17px 40px 40px 40px;
    .logo{
      img{
        width: 177px;
        padding: 24px 10px;
      }
    }
    .field{
      margin: 0 auto!important;
      text-align: left;
      width: 91%!important;
      h3{
        font-weight: 400;
        margin: 0px;
        display: inline-block;
        border-bottom: 0px solid #9e9e9e;
        color: $white;
      }
    }
    .login-btn{
      width: 50%!important;
    }
    a{
      cursor: pointer;
    }
  }

  .register-form-logo{
    width: 600px;
    img{
      width: 158px;
    }
  }
  .register-form{
    position: relative;
    border-radius: 0px;
    width: 600px;
    margin: 0 auto;
    background-color: rgba(53, 60, 72, 0.74);
    padding: 17px 20px 20px 20px;
    .logo{
      img{
        width: 177px;
        padding: 24px 10px;
      }
    }
    .field{
      margin: 0 auto!important;
      text-align: left;
      width: 94%!important;
      h3{
        font-weight: 400;
        margin: 0px;
        display: inline-block;
        border-bottom: 0px solid #9e9e9e;
        color: $white;
      }
    }
    .login-btn{
      width: 50%!important;
    }
    a{
      cursor: pointer;
    }
  }
}

.read-confirm-modal-container,
.phone-number-modal{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.62), 0px 0px 14px 9px rgba(0, 0, 0, 0.09);
  background-color: $darkColor;
  width: 800px;
  position: fixed;
  top: 15%;
  left: calc(50% - 400px);
  z-index: 9;
  .modal-header{
    h5{
      font-size: 25px;
      color: $white;
      text-align: center;
      padding-top: 16px;
      font-weight: 500;
    }
    i{
      position: absolute;
      right: 3px;
      top: 2px;
      color: $white;
      cursor: pointer;
    }
  }
  .modal-body{
    input{
      float: left;
    }
    span{
      color: $white;
      cursor: pointer;
      float: right;
      width: 95%;
      position: relative;
      top: -3px;
    }
  }
  .modal-footer{
    margin-top: 20px;
  }
}

.phone-number-modal{
  color: $white;
  width: 500px;
  left: calc(50% - 270px);
  z-index: 999;
  .modal-body{
    span{
      float: left;
    }
  }
}

.success-modal{
  h3{
    font-size: 16px;
    font-weight: 500;
    color: #21ffde;
  }
  .modal-body{
    span{
      float: none;
      display: inline-block!important;
      width: auto!important;
      margin-left: 10px;
    }
    b{
      font-size: 16px;
      font-weight: 400;
      color: $white;
    }
    .code{
      color: #3ae5ff!important;
    }
  }
}

.confirm-modal-overay{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(212, 212, 212, 0.38);
}

.user-profile-container,
.dashboard-container,
.transaction-history-container,
.send-container,
.ether-balance-container,
.token-balance-container,
.address-info-container,
.settings-container,
.etherium-container{
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
  position: relative;
  z-index:1;
}
/*************************************************************************/
//                        User profile page css                          //
/*************************************************************************/
.user-profile-container{

}

/*************************************************************************/
//                         Dashboard page css                            //
/*************************************************************************/
.dashboard-container{

}

/*************************************************************************/
//                     Transaction History page css                      //
/*************************************************************************/
.transaction-history-container{
  margin: 10px 5px 5px 2px;
  background-color:$darkColor;
  padding: 0px!important;
  width: calc(100% - 10px);
  .refferals_status_header{
    border-bottom: 2px solid $borderColor;
    padding-bottom: 5px;
  }
  .transaction-history-table{
    margin-top: 5px;
    padding: 0px!important;
    box-shadow: 0 0px 0px -4px rgba(0, 0, 0, 0.2), 0 0px 1px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0px rgba(0, 0, 0, 0.12);
    h3{
      color: $green;
      font-weight: 500;
      padding-top: 12px;
      padding-bottom: 5px;
      margin-bottom: 0px;
      padding-left: 10px;
    }
    .PTB70{
      color: $white;
    }
  }
}

/*************************************************************************/
//                             Send page css                             //
/*************************************************************************/
.send-container{
  margin: 10px 5px 5px 2px;
  background-color:$darkColor;
  padding: 0px!important;
  width: calc(100% - 10px);
  .send-form{
    margin-top: 5px;
    box-shadow: 0 0px 0px -4px rgba(0, 0, 0, 0.2), 0 0px 1px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0px rgba(0, 0, 0, 0.12);
    padding-bottom: 10px;
    h3{
      font-weight: 500;
      padding-top: 12px;
      border-bottom: 2px solid $borderColor;
      padding-bottom: 5px;
      color:$green;
      padding-left: 10px;
    }
    .label{
      font-weight: normal;
      color: $white;
    }
    .col-md-12{
      padding-left:10px!important;
    }
  }
  .PTB70{
    color: $white;
  }
}

/*************************************************************************/
//                      Ether Balance page css                           //
/*************************************************************************/
.ether-balance-container{
  margin: 10px 5px 5px 2px;
  background-color:$darkColor;
  padding: 0px!important;
  width: calc(100% - 10px);
  .ether-balance{
    padding:0px!important;
    padding-bottom: 10px!important;
    box-shadow: 0 0px 0px -4px rgba(0, 0, 0, 0.2), 0 0px 1px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0px rgba(0, 0, 0, 0.12);
    h3{
      font-weight: 500;
      padding-top: 12px;
      border-bottom: 2px solid $borderColor;
      padding-bottom: 5px;
      margin-bottom: 0px;
      color:$green;
      padding-left: 10px;
    }
    .balance-counter{
      font-size: 33px;
      color: #c3fff6;
    }
    .balance-counter-body{
      padding-left: 10px;
      color: $white;
      span.label{
        font-weight: 300;
        color: #14d6f5;
        font-size: 18px;
      }
      span.refresh-icon{
        cursor: pointer;
        margin-left: 20px;
        position: relative;
        top: 5px;
        color: $green;
      }
    }
  }
}


/*************************************************************************/
//                      Token Balance page css                           //
/*************************************************************************/
.token-balance-container{
  margin: 10px 5px 5px 2px;
  background-color:$darkColor;
  padding: 0px!important;
  width: calc(100% - 10px);
  .token-balance{
    padding:0px!important;
    padding-bottom: 10px!important;
    box-shadow: 0 0px 0px -4px rgba(0, 0, 0, 0.2), 0 0px 1px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0px rgba(0, 0, 0, 0.12);
    h3{
      font-weight: 500;
      padding-top: 12px;
      border-bottom: 2px solid $borderColor;
      padding-bottom: 5px;
      margin-bottom: 0px;
      color:$green;
      padding-left: 10px;
    }
    .balance-counter{
      font-size: 33px;
      color: #c3fff6;
    }
    .balance-counter-body{
      padding-left: 10px;
      color: $white;
      span.label{
        font-weight: 300;
        color: #14d6f5;
        font-size: 18px;
      }
      span.refresh-icon{
        cursor: pointer;
        margin-left: 20px;
        position: relative;
        top: 5px;
        color: $green;
      }
    }
  }
}


/*************************************************************************/
//                      Address Info page css                            //
/*************************************************************************/
.address-info-container{
  margin: 10px 5px 5px 2px;
  background-color:$darkColor;
  padding: 0px!important;
  width: calc(100% - 10px);
  h3.main-header{
    font-weight: 500;
    padding-top: 12px;
    border-bottom: 2px solid $borderColor!important;
    padding-bottom: 5px;
    margin-bottom: 0px;
    color:$green;
  }
  .address-content{
    padding: 5px;
    h3{
      border-bottom: 0px solid #dadada!important;
    }
  }
  .etherium-body h3 {
    border-bottom: 0px solid #dadada!important;
  }
}

/*************************************************************************/
//                   Settings-container page css                         //
/*************************************************************************/
.settings-container{
  .settings-list{
    margin: 5px 5px 5px 2px;
    background-color:$darkColor;
    width: calc(100% - 10px);
    box-shadow: 0 2px 0px -3px rgba(0,0,0,.2), 0 0px 0px 0px rgba(0,0,0,.14), 0 0px 3px 0px rgba(0,0,0,.12);
    padding:0px!important;
    padding-bottom: 10px!important;
    h3{
      font-weight: 500;
      padding-top: 12px;
      border-bottom: 2px solid $borderColor;
      padding-bottom: 5px;
      margin-bottom: 0px;
      padding-left: 10px!important;
      color:$green;
    }
    ul{
      margin: 0;
      padding: 0;
      margin-top: 5px;
      li{
        border-bottom: 1px solid $borderColor;
        padding-bottom: 7px;
        list-style-type: none;
        padding-top: 5px;
        //box-shadow: 0 2px 0px -3px rgba(0,0,0,.2), 0 0px 0px 0px rgba(0,0,0,.14), 0 0px 3px 0px rgba(0,0,0,.12);
        padding-left: 10px;
        min-height: 52px;
        margin-bottom: 5px;
        cursor: pointer;
        div{
          cursor: pointer;
          color:#1ecbe6;
        }
        small{
          color: $white;
        }
      }
    }
  }
  .user-data{
    margin: 5px 5px 5px 2px;
    width: calc(100% - 10px);
    background-color: $darkColor;
    box-shadow: 0 2px 0px -3px rgba(0,0,0,.2), 0 0px 0px 0px rgba(0,0,0,.14), 0 0px 3px 0px rgba(0,0,0,.12);
    padding:0px!important;
    padding-bottom: 10px!important;
    h3{
      font-weight: 500;
      padding-top: 12px;
      border-bottom: 2px solid $borderColor;
      padding-bottom: 5px;
      margin-bottom: 0px;
      padding-left: 10px!important;
      color:$green;
    }
    label{
      color:#00c8aa;
      font-weight: 400;
      font-size: 13px;
    }
    div{
      color: $white;
    }
  }
}
.file-icons{
  position: relative;
  input{
    opacity: 0;
    width: 53px;
    left: 0px;
    position: absolute;
    top: 0px;
    z-index: 9;
  }
  i{
    position: absolute;
    background-color: #2a303a;
    padding: 4px 8px 3.5px 8px;
    left: -2px;
    top: 1.8px;
    border-left: 2px solid #353c48;
  }
}


/*************************************************************************/
//                   Ether-container page css                         //
/*************************************************************************/
.etherium-container{
  margin: 10px 5px 5px 2px;
  background-color:$darkColor;
  padding: 0px!important;
  width: calc(100% - 10px);
  .ether-block{
    margin-top: 0px;
    padding: 0px!important;
    box-shadow: 0 0px 0px -4px rgba(0, 0, 0, 0.2), 0 0px 1px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0px rgba(0, 0, 0, 0.12);
    border-bottom: 2px solid #414354;
    h3{
      margin-bottom: 4px;
      padding: 10px 10px 9px 10px;
      font-weight: 500;
      padding-top: 12px;
      border-bottom: 2px solid $borderColor;
      color: $green;
    }
    .etherium-body{
      padding: 10px 10px 9px 10px;
      h5{
        font-weight: 400;
        margin: 0px;
        margin-bottom: 20px;
        color: $white;
      }
      button.btn{
        min-width: 140px;
      }
      .cursor{
        width: 288px;
        display: inline-block;
        text-align: right;
      }
    }
  }

  .etherium-panel{
    box-shadow: 0 0px 0px -4px rgba(0, 0, 0, 0.2), 0 0px 1px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0px rgba(0, 0, 0, 0.12);
    padding: 15px 10px;
    margin-top: 5px;
    color: $white;
    cursor: pointer;
    a{
      color: #17a2b8;
      font-weight: 500;
      text-decoration: underline;
      font-size: 15px;
    }
    .country-label{
      font-size: 15px;
      i{
        position: relative;
        top: 3px;
      }
    }

    .country-link-label{
      i{
        position: relative;
        top: 1px;
        margin-right: 4px;
        font-size: 15px;
      }
    }
  }
  .etherium-header-block{
    img{
      max-width: 100%;
      float: left;
      margin-right: 10px;
      margin-left: 10px;
      width: 27px;
      position: relative;
      top: 6px;
    }
    .byEther-label{
      color: $white;
      font-size: 23px;
      border-bottom: 2px solid #414354;
      padding: 5px 0px 16px 8px;
      margin-bottom: -4px;
      margin-top: 8px;
    }
    .etherLink{
      cursor: pointer;
      &:hover{
        color: #6eebff!important;
      }
    }
  }
  .ether-country-list{
    .etherium-header-block{
      img{
        top: 13px;
      }
    }
    .byEther-label{
      margin-top: 7px;
      border-top: 0px solid #414354;
      padding-top: 10px;
    }
  }
}
.flag-exchange{
  position: relative;
  top: 5px;
}



/*************************************************************************/
//                   Wallet-container page css                         //
/*************************************************************************/
.wallet-container{
  margin: 10px 5px 5px 2px;
  background-color:$darkColor;
  padding: 0px!important;
  width: calc(100% - 10px);
  .ether-block{
    padding-bottom: 10px;
    padding: 0px!important;
    box-shadow: 0 0px 0px -4px rgba(0, 0, 0, 0.2), 0 0px 1px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0px rgba(0, 0, 0, 0.12);
    h3{
      color: $green;
      margin-bottom: 4px;
      padding: 10px 10px 9px 10px;
      font-weight: 500;
      padding-top: 12px;
      border-bottom: 2px solid $borderColor;
    }
    .etherium-body{
      padding: 10px 10px 9px 10px;
      color: $white;
      h4{
        margin: 0px;
        margin-bottom: 10px;
        font-weight: 600;
        font-size: 16px;
      }
    }
  }

  .etherium-panel{
    box-shadow: 0 0px 0px -4px rgba(0, 0, 0, 0.2), 0 0px 1px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0px rgba(0, 0, 0, 0.12);
    padding: 15px 10px;
    margin-top: 5px;
    color: $white;
    cursor: pointer;
  }
  .address-number{
    display: inline-block;
    padding: 2px 6px;
    border: 2px dotted $darkColor;
    &:hover{
      border: 2px dotted #00c8aa;
    }
  }
}


/*************************************************************************/
//                   Buy Token page css                         //
/*************************************************************************/
.buy-token-container{
  margin: 10px 5px 5px 2px;
  background-color:$darkColor;
  padding: 0px!important;
  width: calc(100% - 10px);
  .ether-block{
    padding: 0px!important;
    box-shadow: 0 0px 0px -4px rgba(0, 0, 0, 0.2), 0 0px 1px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0px rgba(0, 0, 0, 0.12);
    h3{
      color: $green;
      margin-bottom: 4px;
      padding: 10px 10px 9px 10px;
      font-weight: 500;
      padding-top: 12px;
      border-bottom: 2px solid $borderColor;
    }
    .etherium-body{
      padding: 10px 10px 9px 10px;
      color: $white;
      h5{
        font-weight: 400;
        margin: 0px;
        margin-bottom: 20px;
      }
      h4{
        margin-bottom: 5px!important;
      }
    }
  }

  .etherium-panel{
    box-shadow: 0 0px 0px -4px rgba(0, 0, 0, 0.2), 0 0px 1px 0px rgba(0, 0, 0, 0.14), 0 0px 1px 0px rgba(0, 0, 0, 0.12);
    padding: 15px 10px;
    margin-top: 5px;
    color: $white;
    cursor: pointer;
  }
  .buy-token-timer{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    span{
      color: $green;
      font-size: 18px;
    }
    .chart {
      font-size: 30px;
      margin-top: 15px;
      margin-bottom: 40px;
    }
    .col-md-3{
      &:after{
        display: inline-block;
        content: '';
        position: absolute;
        right: 0;
        bottom: 51px;
        color: #fff !important;
        font-size: 38px;
      }
    }
    .last-none{
      &:after{
        display: none !important;
        opacity: 0 !important;
      }
    }
  }
  .timer-date{
    text-align: center;
    margin-bottom: 14px;
    color: #fff;
    font-size: 18px;
  }
}
.add-one{
  position: relative;
  input{
    padding-right: 40px!important;
  }
  .eth-label{
    color: #000;
    position: absolute;
    right: 2px;
    background-color: #e4e3e3;
    top: 2px;
    padding: 6px 6px 6px 6px;
  }
}



/*************************************************************************/
//                      Landgin page css                                 //
/*************************************************************************/
.cursor{
  cursor: pointer;
}
.landing-section{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  padding-top: 20px;
  h2{
    color: $white;
    font-size:25px;
  }
  .clock-timing{
    width: 83%;
    margin: 0 auto;
    span{
      color: #00c8aa;
      font-size: 20px;
    }
    h4{
      font-size: 28px;
      font-weight: normal;
      color: $white;
    }
    .col-md-3{
      &:after{
        display: inline-block;
        content: '';
        position: absolute;
        right: 0;
        bottom: 20px;
        color: $white;
        //font-size: 22px;
      }
    }
    .last-none{
      &:after{
        display: none !important;
        opacity: 0 !important;
      }
    }
  }
  .subtitle{
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .participant-lable{
    font-size: 14px;
  }
  .amount{
    color: #00c8aa;
    font-size: 28px;
    font-weight: normal;
    margin-top: 10px !important;
    img{
      position: relative;
      top: 3px;
    }
    span{
      color: $white;
      font-size: 24px;
    }
    i{
      color: $white;
      font-size: 29px;
      vertical-align: middle;
      position: relative;
      top: -2px;
    }
  }
  .participant-amount{
    font-size: 18px;
    span{
      font-size: 20px;
    }
    i{
      font-size: 20px;
    }
  }
  .bottom-section-landing{
    margin-top: 50px;
    .left-border{
      .dot-white-border{
        height: 10px;
        width: 10px;
        border: 1px solid $white;
        border-radius: 50%;
        z-index: 5;
        position: absolute;
        top: -3px;
      }
      &:after{
        height: 4px;
        width: 100%;
        background: rgba(0, 200, 170, 0.68);
        content: '';
        display: block;
        border-radius: 5px;
        z-index: 1;
      }
    }
    .right-border{
      .dot-white-background{
        height: 10px;
        width: 10px;
        background: $white;
        border-radius: 50%;
        float: right;
        position: absolute;
        top: -3px;
        right: 15px;
      }
      &:after{
        height: 4px;
        width: 100%;
        background: #568EA1;
        content: '';
        display: block;
        border-radius: 5px;
        z-index: 1;
      }
    }
  }
  .value-small-taas{
    div{
      margin-top: 5px;
      color: $white;
      display: inline-block;
    }
  }
  .taas-value{
    background: #1d697b;
    display: inline-block;
    position: relative;
    top: -67px;
    border-radius: 12%;
    padding: 15px 19px;
    box-sizing: border-box;
    h4{
      margin: 0 !important;
      font-weight: normal;
      color: $white;
      font-size: 20px;
    }
    span{
      color: #00c8aa;
    }
  }
}

.login-section-landing{
  position: relative;
  margin-top: 0px;
  padding-right: 13px;
  .right-section{
    text-align: right;
  }
  .landing-logo{
    text-align: left;
  }
  button{
    margin-top: 0 !important;
    width: 90px;
    display: inline-block;
  }
  .btn-sign-up{
    border: 1px solid #FFFFFF;
    background: none;
    color: #FFFFFF;
    &:hover{
      background: #00c8aa;
      border-color: #00c8aa;
      transition: 0.2s all ease-in;
    }
  }
}

.background-complete-icon{
  background: $green;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
}

.complete-section{
  margin-top: 50px;
  h4{
    color: $white;
    font-size: 14px;
    font-weight: normal;
  }
}

.right-menu-fixed{
  position: fixed;
  right: 20px;
  top: 180px;
  color: $white;
  .menu{
    width: 200px;
    background: #596C7D;
    margin-bottom: 20px;
    .title{
      background: #131f29;
      padding: 8px 0;
    }
    .data{
      padding: 10px;
      box-sizing: border-box;
      div{
        margin-bottom: 5px;
        a{
          color: $white;
          cursor: pointer;
          &:hover{
            color: #00c8aa !important;
          }
        }
      }
    }
  }
}

.left-menu-fixed{
  position: fixed;
  left: 0;
  top: 180px;
  ul{
    margin: 0;
    padding: 0;
    li{
      list-style: none;
      width: 100px;
      text-align: center;
      margin-bottom: 15px;
      a{
        cursor: pointer;
        color: $white;
        &:hover{
          color: #00c8aa !important;
        }
        span{
          font-size: 12px;
        }
        i{
          display: block;
        }
      }
    }
  }
}

.chart-block{
  .bonus-header{
    margin-bottom: 0px;
    color: #fff;
    font-weight: 600;
    text-align: left;
    margin-left: 10px;
  }
  .logo-icons{
    float: left;
    width: 50px;
    margin-top: 10px;
    img{
      max-width: 100%;
    }
  }
  .value-count{
    float: left;
    width: calc(100% - 50px);
    text-align: left;
    box-sizing: border-box;
    padding-left: 10px;
    margin-top: 10px;
    .count-number{
      font-size: 20px;
      color: $green;
    }
    .count-label{
      color: $white;
    }
  }
}

/* ---------------------------------------------------------
              PROGESS BAR CSS
/* --------------------------------------------------------- */
$green: #006341;

.chart {
  color: #ffffff;
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  &:before {
    content: attr(data)'';
  }
}

//make it count
.percentage {
  position: absolute;
  top: 38px;
  z-index: 1;
  height: $height;
  width: 100px;
  font-size: $height;
  line-height: $height;
  text-indent: 53px;
  overflow: hidden;
  visibility: visible;
  transition: visibility 0s linear 0s;

  &:before,
  &:after {
    position: absolute;
    top: 0px;
    font-size: $height;
    line-height: $height;
    white-space: pre;
    text-indent: 0;
  }

  &:before {
    content: "0 \a 1 \a 2 \a 3 \a 4 \a 5 \a 6 \a 7 \a 8 \a 9";
    left: 26px;
  }

  &:after {
    content: "0 \a 1 \a 2 \a 3 \a 4 \a 5 \a 6 \a 7 \a 8 \a 9";
    left: 40px;
  }
}

.completed {
  position: absolute;
  top: 0;
  left: 0;

  &:before,
  &:after {
    content: '';
    position: absolute;
    width: 100px;
    height: 100px;
    box-shadow: inset 0 0 0px 5px #24ace3;
    border-radius: 50%;
  }

  &:before { clip: rect(0 100px 100px 50px); }
  &:after { clip: rect(0 50px 100px 0); }
}

[type="checkbox"] {
  @for $i from 0 through $by {
    $value: $i * $multiplier;
    $step: ($value / 10 + .1);

    ~ [data-percentage="#{$value}"].active {

      &:before {
        opacity: 1;
        transition: opacity 0s linear $time;
      }

      .percentage {
        visibility: hidden;
        transition: visibility 0s linear $time;

        &:before {
          animation: tens-#{$value} $time 1 steps(round($step), end);
        }

        &:after {
          animation: ones-#{$value} $time/$step $step steps(10, end);
        }
      }

      .completed {
        @if $value <= 50 {
          clip: rect(0 100px 100px 50px);
        } @else {
          clip: rect(0 100px 100px 0px);
        }

        @if $value <= 50 {
          &:before {
            transform: rotate(-180 + ($value/100 * 360deg));
            animation: first-#{$value} $time 1 ease-out;
          }
        } @else {
          animation: mask-#{$value} $time linear;
          &:before {
            transform: rotate(0deg);
            animation: first-#{$value} $time 1 linear;
          }
          &:after {
            transform: rotate(-360 + ($value/100 * 360deg));
            animation: second-#{$value} $time 1 ease-out;
          }
        }

      }
    }//end data

    @keyframes tens-#{$value} {
      0% { transform: translateY(0px); }
      100% { transform: translateY(-#{$height*round($step)}); }
    }

    @keyframes ones-#{$value} {
      0% { transform: translateY(0px); }
      100% { transform: translateY(-#{$height*10}); }
    }

    @keyframes mask-#{$value} {
      0%, 50% { clip: rect(0 100px 100px 50px); }
      50.01%, 100% { clip: rect(0 100px 100px 0px); }
    }

    @if $value <= 50 {
      @keyframes first-#{$value} {
        0% { transform: rotate(-180deg); }
        50%, 100% { transform: rotate(-180 + ($value/100 * 360deg)); }
      }
    } @else {
      @keyframes first-#{$value} {
        0% { transform: rotate(-180deg); }
        50%, 100% { transform: rotate(0deg); }
      }

      @keyframes second-#{$value} {
        0%, 50% { transform: rotate(0deg); }
        50.01% { transform: rotate(-180deg); }
        100% { transform: rotate(-360 + ($value/100 * 360deg)); }
      }
    }

  }//end @for
}//end checkbox

.clock-timing{
  [type="checkbox"] {
    visibility: hidden;
    display: none;

    + label {
      /*display: block;
      position: absolute;
      left: 50%;
      z-index: 2;
      margin: 20px 0;
      padding: 0 20px;
      line-height: 50px;
      color: #fff;
      text-transform: uppercase;
      background: $green;
      cursor: pointer;
      transform: translateX(-50%) translateY(-50%);*/

    }

    &:checked {
      + label {
        color: #000;
        background: #ddd;

      }
    }
  }

}

.progress-label{
  font-size: 14px;
  text-align: center;
  top: 66px;
  position: relative;
  color: gray;
}
.PL19{
  padding-left: 19px;
}

.balance-counter-body.text-center.margin-top-50,
.balance-counter-body.text-center.margin-top-50.margin-bottom-35{
  font-size: 24px;
}

.bitcoind-description{
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  a{
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
  }
}

.bitcoin-title{
  h4{
    color: #ffffff;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.right-menu-mobile{
  display: none;
}
.add-one{
  position: relative;
  input{
    margin-right: 80px;
  }
  .search-btn{
    position: absolute;
    top:0px;
    right: 66px;
  }
  .clear-btn{
    position: absolute;
    top:0px;
    right: 0px;
  }
}

/* ---------------------------------------------------------
              ADMIN FOOTER CSS
/* --------------------------------------------------------- */

.admin-footer{

  .telegram-icon{
    img{
      position: relative;
      top: 5px;
    }
  }
}
.social-icons-before-login{
  margin-top: 20px;
  text-align: center;
  a{
    text-decoration: none !important;
    font-size: 23px;
    margin: 0px 14px;
    display: inline-block;
    i{
      border-radius: 36px;
      color: #2ca5e0;
      font-size: 28px;
    }
  }
  .facebook{
    i{
      color:#00abff;
    }
  }
  .twitter{
    i{
      color: #1da1f2;
    }
  }
  .telegram{
    i{
      color: #2ca5e0;
    }
  }
  .medium{
    i{
      color: #0bd48a;
    }
  }
  .github{
    i{
      color:#8693ff;
    }
  }
}


.referral-program{
  margin: 10px 5px 5px 45px;
  width: calc(100% - 100px);
}
.referral-header{
  width: calc(100% - 25px);
  margin: 0 auto;
  padding-left: 30px;
}
.ui-widget-content.ui-datatable-emptymessage-row{
  text-align: center!important;
  font-size: 15px;
}
.bar-chart-1,.bar-chart{
  canvas{
    margin-top: 10px;
  }
}
.bar-chart{
  background-color: rgba(16, 16, 16, 0.59);
  padding-left: 15px;
  margin-top: 10px;
}
