<!--<div class="background-complete-icon"></div>-->
<!-- particles.js container -->
<div id="particles-js"></div>

<!-- <div class="landing-section">
  <div class="login-section-landing on-right">
    <div class="on-right padding-top-10">
      <app-language-selector></app-language-selector>
    </div>
  </div>
</div>
 -->
<div class="container login-container">

  <div class="col-md-12 col-xs-6 text-center margin-top-10">
    <img src="assets/img/logo_white.png" width="125"/>
  </div>

  <div class="col-md-12 text-center complete-section">
    <h4>{{'completeTitle' | translate}}</h4>
    <img src="assets/img/tokansale-dashboard-site-39.png" width="256px" />
    <h4>{{'completeSubTitle' | translate}}</h4>
  </div>

  <div class="col-md-12">
    <div class="right-menu-mobile">

      <div class="menu text-center">
        <div class="title">
          {{'tokenTitle' | translate}}
        </div>
        <div class="data">
          <div> {{'priceTitle' | translate}} : $4.06282</div>
          <div> {{'sinceICOTitle' | translate}} : 336.8684%</div>
        </div>
      </div>

      <div class="menu text-center">
        <div class="title">
          {{'getTokenTitle' | translate}}
        </div>
        <div class="data">
          <div><a>{{'liveCoinTitle' | translate}} &rarr;</a></div>
          <div><a>{{'liquiTitle' | translate}} &rarr;</a></div>
          <div><a>{{'hitbtcTitle' | translate}} &rarr;</a></div>
          <div><a>{{'cossTitle' | translate}} &rarr;</a></div>
          <div><a>{{'coinExchangeTitle' | translate}} &rarr;</a></div>
        </div>
      </div>
    </div>
  </div>

  <div class="left-menu-fixed">
    <ul>
      <li pTooltip="{{'homeLink' | translate}}" tooltipPosition="top">
        <a (click)="landing()">
          <i class="material-icons">home</i>
          <span>{{'homeLink' | translate}}</span>
        </a>
      </li>

      <li pTooltip="{{'fundLink' | translate}}" tooltipPosition="top">
        <a href="https://www.proofsuite.com/" target="_blank">
          <i class="material-icons">attach_money</i>
          <span>{{'fundLink' | translate}}</span>
        </a>
      </li>

      <li pTooltip="{{'teamLink' | translate}}" tooltipPosition="top">
        <a href="https://www.proofsuite.com/" target="_blank">
          <i class="material-icons">people</i>
          <span>{{'teamLink' | translate}}</span>
        </a>
      </li>

      <li pTooltip="{{'newsroomLink' | translate}}" tooltipPosition="top">
        <a href="https://www.proofsuite.com/" target="_blank">
          <i class="material-icons">insert_drive_file</i>
          <span>{{'newsroomLink' | translate}}</span>
        </a>
      </li>

      <li pTooltip="{{'partnersLink' | translate}}" tooltipPosition="top">
        <a href="https://www.proofsuite.com/" target="_blank">
          <i class="material-icons">compare_arrows</i>
          <span>{{'partnersLink' | translate}}</span>
        </a>
      </li>

      <li pTooltip="{{'contactUsLink' | translate}}" tooltipPosition="top">
        <a href="https://www.proofsuite.com/" target="_blank">
          <i class="material-icons">contacts</i>
          <span>{{'contactUsLink' | translate}}</span>
        </a>
      </li>
    </ul>
  </div>

  <div class="right-menu-fixed">

    <div class="menu text-center">
      <div class="title">
        {{'tokenTitle' | translate}}
      </div>
      <div class="data">
        <div> {{'priceTitle' | translate}} : $4.06282</div>
        <div> {{'sinceICOTitle' | translate}} : 336.8684%</div>
      </div>
    </div>

    <div class="menu text-center">
      <div class="title">
        {{'getTokenTitle' | translate}}
      </div>
      <div class="data">
        <div><a>{{'liveCoinTitle' | translate}} &rarr;</a></div>
        <div><a>{{'liquiTitle' | translate}} &rarr;</a></div>
        <div><a>{{'hitbtcTitle' | translate}} &rarr;</a></div>
        <div><a>{{'cossTitle' | translate}} &rarr;</a></div>
        <div><a>{{'coinExchangeTitle' | translate}} &rarr;</a></div>
      </div>
    </div>
  </div>
</div>
