<div id="particles-js"></div>
<!-- particles.js container -->
<div class="landing-section">
  <div class="login-section-landing xs-MT10">
    <div class="col-md-6 col-xs-12 margin-top-10 landing-logo">
      <img src="assets/img/logo_white.png" width="125"/>
    </div>
    <div class="col-md-6 col-xs-12 margin-top-10 right-section">
      <!-- <app-language-selector></app-language-selector> -->
      <button class="btn-primary btn btn-block margin-left-5" (click)="loginForm()" >{{'login' | translate}}
      </button>
      <button class="btn-primary btn btn-block btn-sign-up" (click)="viewRegisterForm()"
              >{{'register' | translate}}
      </button>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="login-section-landing on-left xs-MT10 PL19">

  </div>
  <div class="clearfix"></div>

  <div class="landing-block">
    <div class="main-block">
      <div class="col-md-12 margin-top-30 logo-section-mobile">
       <!-- <h2 class="margin-0">{{landing?.started?'landingTitle1':'landingTitle' | translate}}</h2> -->
       <h2 class="margin-0">WELCOME TO ICAREUM TOKENSALE</h2>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>

<!-- 
<div class="margin-top-35">
  <h3 class="margin-0">CURRENT STAGE: PRESALE</h3>
   </div>  -->
<!--       <div class="margin-top-35 clock-timing">
        <div class="col-md-3">
          <span>{{'days' | translate}}</span>
          <input id='check' type='checkbox'>
          <label for='check'></label>
          <div class='chart active' id="daysPr" data='0'></div>
        </div>

        <div class="col-md-3">
          <span>{{'hours' | translate}}</span>
          <input id='check1' type='checkbox'>
          <label for='check'></label>
          <div class='chart active' id="hoursPr" data='0'></div>
        </div>

        <div class="col-md-3">
          <span>{{'minutes' | translate}}</span>
          <input id='check2' type='checkbox'>
          <label for='check'></label>
          <div class='chart active' id="minutesPr" data='0'></div>
        </div>

        <div class="col-md-3 last-none">
          <span>{{'seconds' | translate}}</span>
          <input id='check3' type='checkbox'>
          <label for='check'></label>
          <div class='chart active' id="secondsPr" data='0'></div>
        </div>
        <div class="clearfix"></div>
      </div> -->

      <div class="margin-top-35 col-md-12 timer-date">
        <div><span>CURRENT STAGE: PRIVATE PRESALE</span></div>
      </div>

<!--       <div class="col-md-12">
        <h4 class="subtitle">{{'subTitleLanding' | translate}} :</h4>
        <h3 class="amount">
          <span>
            <img src="assets/img/ethereum.png" width="28"/>
            </span>
          <div *ngIf="!landing" class="button-loader landing-loader"></div>
          {{weiConvertValue(landing?.totalWeiRaised)}}&nbsp;&nbsp;<span>
            <img src="assets/img/dollar-symbol.png" width="27"/>
          </span><div *ngIf="!landing" class="button-loader landing-loader"></div>{{dollarRaised}}
        </h3>
        <div class="text-right margin-right-35">
          <span class="subtitle participant-lable">{{'subTitleInvestoren' | translate}} :</span>
          <span class="amount participant-amount"><i class="material-icons">person_outline</i><div *ngIf="!landing" class="button-loader landing-loader-small"></div> {{landing?.contributors}}</span>
        </div>
      </div> -->

      <div class="col-md-12 text-center" style="background-color: rgba(0, 0, 0, 0.3); color: white; margin-top: 15px; padding-bottom: 30px;">
        <div style="padding-bottom: 10px; padding-top: 10px"><h3>Bonuses</h3></div>
        <table>
          <tbody>
            <tr>
              <td style="padding: 5px; width: 25%">50&nbsp;000$</td>
              <td style="padding: 5px; width: 70%">
                <div style="width: 65%; height: 24px; background-image: linear-gradient(to right, #0e3e72, #4c8afe);"></div>
              </td>
              <td style="padding: 5px;  font-weight: 800; width: 5%">10%</td>
            </tr>
            <tr>
              <td style="padding: 5px; width: 25%">100&nbsp;000$</td>
              <td style="padding: 5px; width: 70%">
                <div style="width: 75%; height: 24px; background-image: linear-gradient(to right, #0e3e72, #4c8afe);"></div>
              </td>
              <td style="padding: 5px; font-weight: 800; width: 5%">15%</td>
            </tr>
            <tr>
              <td style="padding: 5px; width: 25%">200&nbsp;000$</td>
              <td style="padding: 5px; width: 70%">
                <div style="width: 85%; height: 24px; background-image: linear-gradient(to right, #0e3e72, #4c8afe);"></div>
              </td>
              <td style="padding: 5px; font-weight: 800; width: 5%">20%</td>
            </tr>
            <tr>
              <td style="padding: 5px; width: 25%">more</td>
              <td style="padding: 5px; width: 70%">
                <div style="width: 95%; height: 24px; background-image: linear-gradient(to right, #0e3e72, #4c8afe);"></div>
              </td>
              <td style="padding: 5px; font-weight: 800; width: 5%">*</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-12" style="color: white; margin-top: 10px; margin-bottom: 10px;">* - individual conditions</div>

<!--       <div class="col-md-12" style="color: white; padding-left: 60px; margin-top: 30px">
        <table>
          <tbody>
            <tr>
              <td style="width: auto">
                <div style="float: left">
                  <img src="/assets/img/new/ethereum-cryptocurrency-crypto-currency-coin-logo-3-d-932433-d-9-b-623-bc-512-x-512.png">
                </div>
                <div style="float: left">
                  <h3 style="font-weight: 800; margin: 0; margin-top: 5px; padding: 0;">{{getTokensRaised()}}</h3>
                  <h5 style="font-weight: 800; margin: 0; margin-top: 0px; padding: 0;">Token Sold</h5>
                </div>
              </td>
              <td style="width: auto">
                <div style="float: left">
                  <img src="/assets/img/new/ethereum-cryptocurrency-crypto-currency-coin-logo-3-d-932433-d-9-b-623-bc-512-x-512.png">
                </div>
                <div style="float: left">
                  <h3 style="font-weight: 800; margin: 0; margin-top: 5px; padding: 0;">0,2$</h3>
                  <h5 style="font-weight: 800; margin: 0; margin-top: 0px; padding: 0;">Current Price</h5>
                </div>
              </td>


              <td style="width: auto">
                <div style="float: left">
                  <img src="/assets/img/new/ethereum-cryptocurrency-crypto-currency-coin-logo-3-d-932433-d-9-b-623-bc-512-x-512.png">
                </div>
                <div style="float: left">
                  <h3 style="font-weight: 800; margin: 0; margin-top: 5px; padding: 0;">0,4$</h3>
                  <h5 style="font-weight: 800; margin: 0; margin-top: 0px; padding: 0;">Next Price</h5>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
 -->

      <div class="col-md-2" style="color: white; font-weight: 800">
        <img src="/assets/img/new/ethereum-cryptocurrency-crypto-currency-coin-logo-3-d-932433-d-9-b-623-bc-512-x-512.png" width="32" height="53">
      </div>
      <div class="col-md-2" style="color: white; font-weight: 800">
          <div>{{getTokensRaised()}}</div>
          <div>Token Sold</div>
      </div>
      <div class="col-md-2" style="color: white; font-weight: 800">
        <img src="/assets/img/new/ethereum-cryptocurrency-crypto-currency-coin-logo-3-d-932433-d-9-b-623-bc-512-x-512.png" width="32" height="53">
      </div>
      <div class="col-md-2" style="color: white; font-weight: 800">
          <div>0,2$</div>
          <div>Current Price</div>
      </div>
      <div class="col-md-2" style="color: white; font-weight: 800">
        <img src="/assets/img/new/ethereum-cryptocurrency-crypto-currency-coin-logo-3-d-932433-d-9-b-623-bc-512-x-512.png" width="32" height="53">
      </div>
      <div class="col-md-2" style="color: white; font-weight: 800">
          <div>0,4$</div>
          <div>Next Price</div>
      </div>

    </div>
    <!-- Start Footer -->
    <div style="margin-top: 100px;">
      <app-footer></app-footer>
    </div>
    <!-- End Footer -->
  </div>
</div>
<div class="clearfix"></div>
