<div class="wallet-container address-info-container" @slideUp>
  <div class="col-md-12 col-xs-12 col-sm-12 ether-block padding-left-0">
    <h3 class="main">Buy ICRM Tokens</h3>
    <div class="etherium-body">
      <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3 col-sm-offset-0 col-xs-offset-0 text-center padding-left-0">

      <div class="col-md-12 text-center">
        <h2>Exchange rate:</h2>
      </div>


      <div class="col-md-12 text-center h2" style="color: #f29b34; background-color: rgba(242, 155, 52, .2); padding: 8px; margin-top: 10px;">
        <h3>100 ICRM = 20$ = {{btc100()}} BTC = {{eth100()}} ETH</h3>
      </div>

      
      <div class="col-md-12 text-center" style="margin-top: 10px;">
        <button type="button" class="btn btn-primary" (click)="showCalculatorModal()" style="background-color: transparent; border: 1px solid white;">Exchange calculator</button>
      </div>

      <div class="col-md-12 text-center" style="margin-top: 10px">
        <h5>To get ICRM tokens send ethereum/bitcoin amount according to exchange rate to the wallet below and press confirmation button after. Your balance will be updated in next 24 hours.</h5>
      </div>

      <div class="col-md-12" style="margin-top: 10px;">
        <div class="text-left" style="color: #797a7d; margin-bottom: 5px;">Ethereum address:</div>
        <div>
          <div class="icon" style="float: left; margin-right: 5px; width: 32px; height: 32px; border-radius: 50%; background-color: rgba(242, 155, 52, .2)">
            <img  src="assets/img/ethereum_1.png" width="24" height="40" style="margin-left: 5px; margin-top: 5px; margin-right: 5px; width: 16px; height: 24px"/>
          </div>
          <div class="link" (click)="copyMessage(address)" style="border: 1px solid white; padding: 8px; width: 80%; float: left; word-wrap: break-word;"><h5>{{address}}</h5></div>
          <div class="copy" (click)="copyMessage(address)" pTooltip="Copy" style="border: 1px solid white; padding: 8px; width: 10%; float: left; margin-left: 5px; cursor: pointer; text-overflow: ellipsis;">Copy</div>
        </div>
      </div>

      <div class="col-md-12 mt-3" style="margin-top: 10px;">
        <div class="text-left" style="color: #797a7d; margin-bottom: 5px;">Bitcoin address:</div>
        <div>
          <div class="icon" style="float: left; width: 32px; height: 32px; border-radius: 50%; background-color: rgba(242, 155, 52, 0); margin-right: 5px">
            <img  src="assets/img/new/bitcoin-logo.png" width="32" height="32"/>
          </div>
          <div class="link" (click)="copyMessage(bitcoinAddress)" style="border: 1px solid white; padding: 8px; width: 80%; float: left; word-wrap: break-word;"><h5>{{bitcoinAddress}}</h5></div>
          <div class="copy" (click)="copyMessage(bitcoinAddress)" pTooltip="Copy" style="border: 1px solid white; padding: 8px; width: 10%; float: left; margin-left: 5px; cursor: pointer; text-overflow: ellipsis;">Copy</div>
        </div>
      </div>

      <div class="col-md-12" style="margin-top: 10px;">
        <div class="text-left" style="color: #797a7d">
<!--           <div style="float: left; padding-left: 8px;"><img src="assets/img/new/mask.png" width="24" height="40" style="maring-right: 10px; width: 16px; height: 16px"/></div> -->
          <div style="float: left; margin-left: 12px">Please be sure that you have already done you payment before confirmation.</div>
        </div>
      </div>

      <div class="col-md-12 text-center" style="margin-top: 15px; margin-bottom: 15px;">
        <button type="button" class="btn btn-primary" (click)="showWalletAddressModal()">Confirm payment</button>
      </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>

<admin-footer></admin-footer>

<!-- Wallet address modal -->
<div class="phone-number-modal" *ngIf="isShowModal == 2" @dialog>
  <form [formGroup]="walletAddressForm" (submit)="sendConfirmationEmail(walletAddressForm.value.walletAddress)">
    <div class="modal-container">
      <div class="modal-header">
        <h5>Your Wallet address:</h5>
        <i class="material-icons" (click)="isShowModal = 1">close</i>
      </div>
      <div class="clearfix"></div>

      <div class="modal-body">
        
   <!--        <div class="col-md-3 padding-left-0">
            <app-country-code (changeCountry)="onCountryChangeEvent($event)" pTooltip="{{'countryCode' | translate}}" tooltipPosition="top"></app-country-code>
          </div> -->

          <div class="margin-top-10 col-md-12">
            <input type="text"
                   placeholder="wallet adress"
                   pTooltip="wallet address"
                   tooltipPosition="top"
                   class="form-control"
                   Autofocus
                   formControlName="walletAddress" required/>
      <!--        <div class="input-validation-msg">
            <validation *ngIf="isValidLength(walletAddressForm.get('walletAddress'))" [errMsg]="'pwdLenth' | translate"></validation>
            </div>  -->
          </div>
        </div>
      
      <div class="clearfix"></div>

        <div class="margin-top-15 text-center">

           <button type="submit" class="btn btn-primary" [disabled]="!walletAddressForm.valid" pTooltip="OK" tooltipPosition="top">OK</button>

        </div>

              <div class="col-md-12 margin-top-10 margin-bottom-10 text-center">
        <small class="lightClr">Notice that it should be address of your wallet, which you have used to do the payment.</small>
      </div>

            

   <!--    <div class="modal-footer">
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary" [disabled]="!walletAddressForm.valid" pTooltip="{{'update' | translate}}" tooltipPosition="top">{{'update' | translate}}</button>
        </div>
        <div class="clearfix"></div>
      </div> -->

      <div class="margin-top-10"></div>
      <div class="clearfix"></div>
    </div>
  </form>
</div>


<!-- Calculator modal -->
<div class="phone-number-modal" *ngIf="isShowModal == 3" @dialog>
  <form [formGroup]="calculatorForm" (submit)="closeForm()">
    <div class="modal-container">
      <div class="modal-header">
       <h5>Exchange calculator</h5>
        <i class="material-icons" (click)="isShowModal = 1">close</i>
      </div>
      <div class="clearfix"></div>

    <div class="col-md-12 margin-top-10 padding-left-15">
            <h4>Enter the amount of ICRM Tokens you would like to purchase:</h4>
          </div>
      <div class="modal-body">
        

          <div class="margin-top-10 col-md-12">
            <input type="number"
                   placeholder="token amount"
                   pTooltip="token amount"
                   tooltipPosition="top"
                   class="form-control"
                   value="123"
                   #box (keyup)="0"
                   maxlength="10" 
                   Autofocus
                   formControlName="tokenAmount" required/>
          </div>

          <div class="col-md-12 margin-top-10 text-center">
            <h4>{{box.value*DollarRate | number : '1.2-2' }}$</h4>
          </div>

           <div class="col-md-12 margin-top-10 text-center">
            <small class="lightClr">ETH: {{box.value*ETHRate | number : '1.6-6'}}</small>
          </div>

           <div class="col-md-12 margin-bottom-20 margin-top-10 text-center">
            <small class="lightClr">BTC: {{box.value*BTCRate | number : '1.6-6'}}</small>
          </div>

        </div>
      
      <div class="clearfix"></div>

        <div class="margin-top-15 text-center">

           <button type="submit" class="btn btn-primary" pTooltip="Close" tooltipPosition="top">Close</button>

        </div>

      <div class="margin-top-10"></div>
      <div class="clearfix"></div>
    </div>
  </form>
</div>

<div class="confirm-modal-overay" *ngIf="isShowModal == 2 || isShowModal == 3 || isShowModal == 4 || isShowModal == 5" (click)="closeForm()"></div>

