<div *ngIf="isLoading" class="inner-loader">
  <span>
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
  </span>
</div>

<div *ngIf="isLoading" class="white-fixed-layer"></div>
