<html>
	<head></head>
	<body>
		<div style="width: 550px;border:1px solid #ccc;border-radius:10px;">
            <div style="padding: 20px; background: #f7f7f7; border-top-left-radius: 10px; border-top-right-radius:10px; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                <h3 style="color: #1FA3B1; font-weight: 500"> Received payment confirmation</h3>
                <div>
                    <p style="color: #777;word-spacing: 2.2px;line-height: 21px;">
                        Client email: <b>{{email}}</b><br><br>
                        Client wallet: <b>{{wallet}}</b><br><br>
                        btc rate: <b>{{btc}}</b><br><br>
                        eth rate: <b>{{eth}}</b><br><br>

                        
                    </p>
                </div>

                <div style="clear: both;"></div>
            </div>
        </div>
	</body>
</html>