<div class="presale wallet-container" @slideUp>
  <div class="col-md-12 ether-block padding-left-0">
    <h3>PRESALE INFORMATION</h3>
    <div class="etherium-body">
      <div class="col-md-12 text-center padding-left-0 padding-top-30 padding-bottom-20">
        <h2 class="text-center margin-top-10" style="width: 50%; margin-left: 25%">
            Welcome to your private account
        </h2>
      </div>

      <div class="col-md-12 text-center padding-left-0">
        <h5 class="text-center margin-top-10" style="width: 50%; margin-left: 25%;">
            This is also your personal wallet, that will keep your ICRM tokens bought during the tokensale. We strongly recommend to make it local backup in "Wallet Info" section and keep it safely.
        </h5>
      </div>

      <div class="col-md-12 text-center padding-left-0">
        <h5 class="text-center margin-top-10" style="width: 50%; margin-left: 25%; color: #f29b34">
            Don't loose your password, otherwise you can lose your token balance.
        </h5>
      </div>


<!--       <div class="col-md-12 text-center padding-left-0" style="width: 50%; margin-left: 25%; color: #f29b34">
        <table style="width:; 100%; margin-left: 25%">
            <tbody>
                <tr>
                    <td></td>
                    <td style="width: 100%; text-align: left;">Don't loose your password, otherwize you can loose you token balance.</td>
                </tr>
            </tbody>
        </table>
      </div>
 -->
<!--       <div class="col-md-12 text-center padding-left-0" style="width: 50%; margin-left: 25%;">
        <div>
            <div class="icon" style="float: left; margin-right: 10px;">
                <img src="/assets/img/new/mask.png" width="16" height="16" alt="">
            </div>
            <div style="float: left">
            <h5 class="text-left margin-top-10" style="color: #f29b34; margin-left: 25%; width: 50%">
                Don't loose your password, otherwize you can loose you token balance.
            </h5>
            </div>
        </div>
      </div>
 -->      
      <div class="col-md-12 text-center padding-left-0" style="width: 50%; margin-left: 25%;">
        <h5 class="text-center margin-top-10">
          Currently, during presale period, you are only able to purchase tokens using external ethereum or bitcoin wallets. You will be able to send all your tokens to any other address after the end of ICO.
        </h5>
      </div>


            <div class="col-md-12 text-center" style="margin-top: 30px; margin-bottom: 20px;">
        <button type="button" class="btn btn-primary" [routerLink]="buyIcrmUrl" routeLink="active" >Buy ICRM Tokens</button>
      </div>
<!--       <div class="col-md-12 text-center padding-left-0 padding-top-30 padding-bottom-20">
          <input class="btn btn-primary" type="button" value="Buy ICRM Tokens" [routerLink]="buyIcrmUrl" routeLink="active" />
      </div> -->

      <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="clearfix"></div>
</div>

<admin-footer></admin-footer>